<div [class]="{open: isModalOpen}" class="modal" data-close (click)="onClose($event)">
    <div class="modal-body">
        <div class="form-container">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-control">
                    <label for="name">Film name</label>
                    <input [class]="{invalid: name.invalid && name.touched}" id="name" type="text"
                        formControlName="name">
                    <div class="form-validate" *ngIf="name.invalid && (name.dirty || name.touched)">
                        Field is required
                    </div>
                </div>
                <div class="form-control image">
                    <label for="image">Set Baner</label>
                    <input id="image" type="file" formControlName="image" hidden (change)="onSelectImage($event)">
                    <div class="preview-image">
                        <label for="image">
                            <fa-icon class="preview-icon" [icon]="faFileImage"></fa-icon>
                        </label>

                        <img *ngIf="imageUrl" class="preview" [src]="imageUrl" alt="preview">
                    </div>
                </div>

                <div class="form-control">
                    <label for="release">Film Release</label>
                    <input [class]="{invalid: release.invalid && release.touched}" id="release" type="number"
                        formControlName="release">
                    <div class="form-validate" *ngIf="release.invalid && (release.dirty || release.touched)">
                        Must be contained 4 characters
                    </div>
                </div>
                <div class="form-control">
                    <label for="sales">Sales Of Film</label>
                    <input [class]="{invalid: boxOffice.invalid && boxOffice.touched}" id="sales" type="number"
                        formControlName="boxOffice">
                    <div class="form-validate" *ngIf="boxOffice.invalid && (boxOffice.dirty || boxOffice.touched)">
                        Field is required
                    </div>
                </div>
                <div class="form-control">
                    <label for="description">Film Description</label>
                    <textarea [class]="{invalid: description.invalid && description.touched}" id="description"
                        formControlName="description"></textarea>
                    <div class="form-validate"
                        *ngIf="description.invalid && (description.dirty || description.touched)">
                        Max length is 1000 characters
                    </div>
                </div>
                <div class="form-control checkbox">
                    <label for="favorites">Add To Favorites?</label>
                    <input id="favorites" type="checkbox" formControlName="isFavorite">Yes
                </div>
                <button [disabled]="form.invalid" type="submit" class="form-btn submit">Save Film</button>
            </form>
            <div class="modal-buttons">
                <button class="form-btn" data-close>Close</button>
                <button class="form-btn" (click)="resetForm()">Reset</button>
            </div>
        </div>
    </div>
</div>